.header{
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: black;
}
.menue{
    width:10%;
    height: 25px;
    padding: 10px;
    border: solid white 1px;
    text-align: center;
    color: white;
    float: left;
    margin-left: 5px;
}
.menue a{
    color: white;
}
.colortext{
    color:white;
    font-size: 20pt;

}
.content{
    width: 50%;
    margin:10px;
}
.sod{
    border:solid black 2px;
    margin:5px;
}
.content-title{
    padding: 5px;
    color: black;
}
.content-title a{
    color: black;
}
.content-text{
    padding: 5px;
}