@font-face {
    font-family: "open_sansbold";
    src: url(../fonts/OpenSans-Bold-webfont.woff);
}
@font-face {
    font-family: "open_sansregular";
    src: url(../fonts/OpenSans-Regular-webfont.woff);
}
@font-face {
    font-family: "open_sanslight";
    src: url(../fonts/OpenSans-Light-webfont.woff);
}
@font-face {
    font-family: "open_sanssemibold";
    src: url(../fonts/OpenSans-Semibold-webfont.woff);
}
@font-face {
    font-family: "open_sanscondbold";
    src: url(../fonts/OpenSans-condbold-webfont.woff);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: "open_sansregular", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: url(../img/bg.jpg) repeat center 0;
    font-size: 16px;
}
.wrapper {
    width: 950px;
    margin: auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.m20 {
    margin-right: 20px;
}
input:not([type="file"]):not([type="checkbox"]), textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #dadada;
}
input, textarea {
    margin: 10px 0 20px;
}
form {
    margin-top: 20px;
}
button {
    border: none;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
.btn {
    padding: 9px 16px 9px;
    color: white;
    text-decoration: none;
    /*border-radius: 3px;*/
    transition: background-color, .2s;
    display: inline-block;
    vertical-align: middle;
}
.thumbs {
    width: 13px;
    height: auto;
}
.thumbs.thumbs-down {
    transform: rotate(180deg) translateY(-2px);
}
.pic-wrapper {
    overflow: hidden;
    position: relative;
    /*border-radius: 3px;*/
}
.pic-wrapper img {
    position: absolute;
    height: 101%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
strong, h3, h2 {
    font-family: "open_sansbold", sans-serif;
    font-weight: 100;
}
h3 {
    font-size: 16px;
}
.clr-magenta {
    background-color: #e50079;
}
.clr-magenta:hover {
    background-color: #ff009c;
}
.clr-blue {
    background-color: #0b7cb5;
}
.clr-blue:hover {
    background-color: #0b8bc5;
}
.clr-grey {
    background-color: #a6a6a6;
}
.clr-grey:hover {
    background-color: #b5b5b5;
}
.clr-yellow {
    background-color: #fece00;
}
/*---------------------------------------------------header-----------------------------------------------------------*/
header {
    background-color: #292929;
    padding: 13px 0;
    color: #fff;
    margin-bottom: 20px;
}
header .wrapper {
    position: relative;
}
header img {
    height: 40px;
    width: auto;
    margin-right: 20px;
    vertical-align: middle;
}
header a {
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
header img.user {
    margin-right: 4px;
    width: 30px;
    height: 30px;
}
header img.urfu-logo {
    width: 97px;
}
header .user-name {
    font-size: 14px;
}
header .logos-container {
    width: 299px;
}
header .dropdown {
    position: absolute;
    right: 0;
    top: 43px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    z-index: 1;
    box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.1);
    opacity: 1;
    transition: top .2s;
    max-width: 190px;
}
header .dropdown a {
    font-family: "open_sansregular", sans-serif;
    font-weight:100;
    width: 100%;
    padding: 11px 10px;
    text-decoration: none;
    color: #000;
    transition: background-color .2s;
    border-bottom: 1px solid #e0e0e0;
}
header .dropdown a:last-child {
    border-bottom: none;
}
header .dropdown a:hover {
    background-color: #f0f0f0;
}
header .dropdown .tag {
    font-family: "open_sansregular", sans-serif;
    font-weight:100;
    padding: 4px 9px;
    margin-left: 5px;
    background-color: #0b7cb5;
    color: #fff;
    border-radius: 30px;
}
header .dissapear {
    top: -300px!important;
}

/*--------------------------------------------------custom-select----------------------------------------------------*/

.s-hidden {
    visibility:hidden;
    padding-right:23px;
}
.select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    font:normal 13px/33px "open_sansregular", sans-serif;
    color:black;
    outline: 1px solid #ccc;
    margin-right: 5px;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding:0 10px;
    font-weight:bold;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:14px;
    right:8px;
}
.styledSelect:active, .styledSelect.active {
    background-color:#eee;
}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    margin:0 0;
    padding:0 10px;
}
.options li:hover {
    background-color:#39f;
    color:white;
}

/*---------------------------------------------------main-------------------------------------------------------------*/

main {
    display: block;
    box-shadow: 0 0 5px #dbdbdb;
    background: #fff;
    min-height: calc(100% - 148px);
    padding: 20px;
}
main section.main-section:last-child hr {
    display: none;
}
nav a {
    text-decoration: none;
    color: #999;
    font-size: 21px;
    font-family: "open_sansbold", sans-serif;
    padding: 10px;
    display: inline-block;
    position: relative;
}
nav a.active {
    color: #000;
}
nav a.active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    bottom: -1px;
    left: 0;
}
nav form {
    margin-top: 7px;
    margin-bottom: 40px;
}
nav form select {
    outline: none;
}
.main-section a {
    display: block;
    text-decoration: none;
    color: #000;
}
.initiative-item:hover h3 {
    text-decoration: underline;
}
.main-section hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #dadada;
}
.initiative-item {
    margin-top: 20px;
}
.initiative-item-pic-wrapper {
    width: 129px;
    height: 129px;
}
.initiative-item-pic-wrapper-big {
    width: 286px;
    height: 220px;
    margin: 20px 20px 20px 0;
}
.initiative-description {
    margin-left: 20px;
    width: calc(100% - 150px);
    font-size: 13px;
}
.initiative-description .info {
    margin: 4px 0;
    display: block;
}
.initiative-description .infos {
    margin-top: 15px;
}
main .infos-big{
    margin-top: 20px;
}
main .infos-big p {
    margin: 5px 0;
}
.initiative-description .results{
    margin-top: 20px;
    text-align: right;
}
.initiative-description .result {
    display: block;
}
.initiative-description .result:first-child {
    margin-bottom: 7px;
}
.result .numbs {
    font-family: "open_sansbold", sans-serif;
    background-color: #0b7cb5;
    color: white;
    padding: 2px 5px;
    /*border-radius: 3px;*/
}
.result:last-child .numbs {
    background-color: #a6a6a6;
}
.initiative-txt-wrapper {
    clear: both;
    margin: 20px 0;
}
.initiative-text-heading {
    margin-bottom: 10px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    margin-top: 30px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #0b7cb5;
    color: white;
}

/*---------------------------------------------------footer-----------------------------------------------------------*/
footer {
    background-color: #292929;
    padding: 13px 0;
    color: #fff;
    margin-top: 20px;
    font-size: 12px;
}
footer a {
    color: #fff;
}
footer a:hover {
    text-decoration: none;
}
/*---------------------------------------------------media-queries----------------------------------------------------*/
@media (max-width: 992px) {
    header, main, footer, .wrapper {
        width: 100%;
    }
    header .wrapper, footer .wrapper {
        padding: 0 20px;
    }
    header, footer {
        padding: 20px 0;
    }
    header a {
        display: block;
    }
    .logos-container {
        float: none;
        display: none;
    }
    .user-container {
        text-align: center;
        float: none;
    }
    .user-container a.add-initiative {
        width: 100%;
    }
    .m20 {
        margin-bottom: 20px;
        margin-right: 0;
    }
    header .dropdown {
        width: 100%;
        max-width: 100%;
        top: 110px;
    }
    nav a {
        font-size: 18px;
    }
    nav form select {
        width: 100%;
        margin-top: 10px;
    }
    main .initiative-item-pic-wrapper {
        float: none;
        margin: 0 auto 20px;
    }
    main .initiative-description {
        width: 100%;
        margin-left: 0;
    }
    .initiative-item-pic-wrapper, .initiative-item-pic-wrapper-big {
        height: 222px;
        width: 100%;
        max-width: 338px;
    }
    button {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    #vote_area, .button-wrapper {
        text-align: center;
    }
    .initiative-text-heading {
        display: none;
    }
    /*------------------------------------custom-select-----------------------------*/
    .select {
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
        font:normal 14px/37px "open_sansregular", sans-serif;
    }
    .styledSelect:after {
        top: 17px;
    }

}
@media (min-width: 487px) and (max-width: 992px)  {
    .user-container a.add-initiative,
    .user-container a.user {
        width: 51%;
    }
    header .dropdown {
        width: 51%;
        left: 0;
        right: 0;
        margin: auto;
    }
    button {
        width: 51%;
    }
}

