{% extends "myidea/base.html" %}
{% block content %}
	<div class="col-sm-8 col-md-offset-3">
	<h3 class="h3">Добавить комментарий</h3>
	<form method="POST" class="post-form" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<label for="comment.for_label" class="col-sm-9">Комментарий</label>
			<div class="col-sm-9">
				{{ form.comment }}
			</div>
		</div>

		<div class="col-sm-9">
			<button type="submit" class="btn btn-space mb-">Добавить</button>
		</div>
	</form>
	</div>

{% endblock %}