{% extends "myidea/base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'myidea/css/idea_review_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<main class="wrapper clearfix">
    <h2>{{ idea.title }} </h2>
    <div class="pic-wrapper initiative-item-pic-wrapper-big pull-left">

            {% if idea.image %}   
                <img src="{{ idea.image.url}}">
            {% endif %}
       
    </div>

    <div class="infos-big">
        <p><strong>автор: </strong>{{ idea.user.first_name}} {{ idea.user.last_name }}</p>
    </div>


    <div class="initiative-txt-wrapper">
        <h3 class="initiative-text-heading">Текст инициативы: </h3>
        <p>{{ idea.description }}</p>
    </div>


                <hr>
                <h3>Модерация</h3>

                 {% if idea.status.name == status.STATUS_REVIEW %}  


                        <form  сlass="post-form" action="{% url 'approve' idea_id=idea.id %}"  сlass="post-form" method="POST">

                            {% csrf_token %}  

                            <div class="form-group">

                                {{ approve_form.category.errors }}

                                <label for="category.for_label">Выберите категорию</label>


                                            {{approve_form.category}}

                            </div>


                             <button type="submit" class="btn clr-blue">
                                    Отправить на голосование
                            </button>

                        </form>

                 

                        <form action="{% url 'reject' idea_id=idea.id %}" method="POST">

                                {% csrf_token %}

                                <label for="comment.for_label" class="col-sm-9">Комментарий</label>
                                {{reject_form.comment}}

                            <button type="submit" class="btn clr-blue">
                                Отклонить
                            </button>

                        </form>
           

                {% endif %}

                {% if idea.status.name == status.STATUS_COMPLETE %}  

                

                        <form action="{% url 'result' idea_id=idea.id%}" method="POST">

                            {% csrf_token %}

                            <label for="result.for_label"  >Результат</label> 

                            {{result_form.result}}

                            <button type="submit" class="btn clr-blue">      
                                Добавить результат
                            </button>

                        </form>

           
                {% endif %}

       

</div>
</main>
{% endblock %}