{% extends "myidea/base.html" %}

{% block content %}

        <div class="row" style="margin-bottom: 10px">
            <ul class="nav nav-tabs">
                <li><a href="{% url 'idea_review' %}">Поступившие инициативы</a></li>
            </ul>
        </div>

            {% block user_ideas %}
            {% endblock %}


{% endblock %}