{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyIdea. Сервис студенческих инициатив</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'myidea1/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'myidea1/img/favicon.png' %}">
    <script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
    <script src="{% static 'myidea1/js/hammer.min.js' %}"></script>
    <script src="{% static 'myidea1/js/jquery.hammer.js' %}"></script>
</head>

<body>
    <header>
        <div class="wrapper clearfix">
            <div class="logos-container pull-left">
                <a href="http://urfu.ru/ru/" target="_blank" class="urfu-logo">
                    <img src="{% static 'myidea1/img/urfu_logo.svg' %}" alt="" class="urfu-logo">
                </a>
                <a href="{% url 'index' %}">
					<img src="{% static 'myidea1/img/myidea_logo.svg' %}" alt="" class="myidea-logo">
                </a>
            </div>
            <div class="user-container pull-right">
                <a href="{% url 'addidea' %}" class="add-initiative m20 btn clr-magenta">+ Добавить инициативу</a>

                {% if user.is_authenticated %}
					<a href="#" class="user" id="user">
						<img src="{% static 'myidea1/img/user.svg' %}"  alt="" class="user">
						<span class="user-name">{{ user.first_name }} {{ user.last_name }}</span>
					</a>
					<div class="dropdown dissapear" id="dropdown">
						<a href="{% url 'user' %}">Мои инициативы <span class="tag">{{ user_count_idea }}</span></a>
						{% if user.is_staff %}
							<a href="{% url 'moderator' %}">Модерация</a>
						{% endif %}
						<a href="{% url 'urfu_logout' %}">Выход</a>
					</div>
                {% else %}
                    <!--a href="{% url 'login' %}">Войти</a-->
					<a href="{% url 'urfu_login' %}">Войти</a>
                {% endif %}
            </div>
        </div>
    </header>

	{% block content %}{% endblock %}

    <footer>
        <div class="wrapper clearfix">
            <div class="pull-left">© ФГАОУ ВО «УрФУ имени первого Президента России Б.Н. Ельцина»</div>
            <div class="pull-right"><a href="#">О проекте</a></div>
        </div>
    </footer>

    <script src="{% static 'myidea1/js/script.js' %}"></script>
</body>
</html>