<div class="pagination">

		{% for page in pages %}

			{% if page == '.' %}
				<a href="#">...</a>
			{% else %}
				<a class="{% if page == selected %}active{% endif %}" href="?page={{ page }}">{{ page }}</a>
	
			{% endif %}

		{% endfor %}

</div>

