{% extends "myidea/base.html" %}
{% load thumbnail %}
{% load staticfiles %}


{% block content %}


<script src=" {% static 'myidea1/js/example.js' %}"> </script>
<main class="wrapper clearfix">
    <h2>{{ idea.title }} </h2>
    <div class="pic-wrapper initiative-item-pic-wrapper-big pull-left">

            {% if idea.image %}   
                <img src="{{ idea.image.url}}">
            {% endif %}
       
    </div>

    <div class="infos-big">
        <p><strong>автор: </strong>{{ idea.user.first_name}} {{ idea.user.last_name }}</p>
        <p><strong>категория: </strong>
            {% for category in idea.category.all %}
                {{category.name}}</p>
             {% endfor %}

        <p><strong>до конца голосования осталось: </strong>{{ last_period}} дней</p>
        {% if user.is_authenticated %}

        <p class="result"><strong>проголосовало ЗА: </strong><span class="numbs">{{ idea.count_vote_y }}/200</span></p>
        <p class="result"><strong>проголосовало ПРОТИВ: </strong><span class="numbs">{{ idea.count_vote_n }}</span></p>


        {% endif %}


        {% if idea.status.name == status.STATUS_APPROVED %}
    </div>


    {% if user.is_authenticated %}



    {% endif %}

    {% endif %}
    <div class="initiative-txt-wrapper">
        <h3 class="initiative-text-heading">Текст инициативы: </h3>
        <p>{{ idea.description|linebreaks }}</p>
    </div>

    {% if idea.status.name == status.STATUS_RESULT %}

    <h3> Результат: </h3>
  
        {{ idea.result }}

    {% endif %}

    <div class="" id="vote_area">



        {% if request.user.is_authenticated %}

        {%  if idea.id in vote_user %}

        {% if user_choice %}<h3>Вы поддержали инициативу</h3>{% else %}<h3>Вы проголосовали против</h3>{% endif %}

        {% else %}

        <button class="add-initiative  btn clr-blue" id="like">
            <img src="{% static 'myidea1/img/thumbs.svg' %}" class="thumbs"> Проголосовать ЗА
        </button>
        <button class="add-initiative  btn clr-grey" id="dislike">
            <img src="{% static 'myidea1/img/thumbs.svg' %}" class="thumbs thumbs-down"> Проголосовать ПРОТИВ
        </button>

        {% endif %}

        {% endif  %}

    </div>
</main>


{% endblock %}

