% extends "myidea/base.html" %}
{% load thumbnail %}
{% load bootstrap_paginator %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'myidea/css/index_style.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

	<div class="row">
		<div class="col-lg-6">
		<a href="{% url 'index' %}"><h3>Актуальные</h3></a>
		<a href="{% url 'main_ideas_result' %}"><h3>Результат</h3></a>

				<div class="btn-group">
  			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    			Фильтр
    			<span class="caret"></span>
  			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
  				<li><a tabindex="-1" href="{% url 'ideas_by_cat' 'popular'  %}">По популярности</a></li>
			</ul>

			<div class="btn-group">

			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    			Еще один фильтр
    			<span class="caret"></span>
  			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

			  	<li><a tabindex="-1" href="{% url 'ideas_by_cat' 'science' %}">Наука</a></li>
  				<li><a tabindex="-1" href="{% url 'ideas_by_cat' 'general' %}">Общие вопросы</a></li>
  				<li><a tabindex="-1" href="{% url 'ideas_by_cat' 'it' %}">Информационные технологии</a></li>
  				<li><a tabindex="-1" href="{% url 'ideas_by_cat' 'information_policy' %}">Информационная политика</a></li>
  				<li><a tabindex="-1" href="{% url 'ideas_by_cat' 'intermational_connections' %}">Международные связи</a></li>
  				<li><a tabindex="-1" href="{% url 'ideas_by_cat' 'education' %}">Учебная работа</a></li>
  				<li><a tabindex="-1" href="{% url 'ideas_by_cat' 'economy' %}">Экономика и стратегическое развитие</a></li>

  			</ul>

  			</div>
		</div>

{% for idea in current_page.object_list %}
    
		    <div class="panel panel-default">
		    	<div class="panel-heading">
		    		<a href="{% url 'idea_detail' idea_id=idea.id %}">
		    			<h3 class="panel-title">{{ idea.title }}</h3>
		    		</a>
		    	</div>
				<div class="panel-body">
		        	<div class="row">
		        		<div class="col-lg-3" style="min-height: 120px">
		        			{% thumbnail idea.image "120x120" crop="center" as im %}
								<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
							{% endthumbnail %}
		        		</div>
		        		<div class="col-lg-4">
		        			<p><b>Автор: </b> {{ idea.user.first_name}} {{ idea.user.last_name }} </p>

		        			{% if user.is_authenticated %}
		        			
		               		<p><b>Поддерживают: {{ idea.count_vote_y }} </b> </p>
		                	<p><b>Против: {{ idea.count_vote_n }} </b> </p>


		                	{% endif %}
		        		</div>
		        	</div>
		        </div>
		    </div>

		    {% endfor %}

		</div>

	</div>


    <div class="col-lg-7">
        {% if current_page.paginator.num_pages > 1 %}
            {% bootstrap_paginator current_page.paginator.num_pages current_page.number %}
        {% endif %}
    </div>
    
{% endblock %}