{% extends "myidea/base.html" %}
{% load thumbnail %}
{% load bootstrap_paginator %}
{% load static %}



{% block content %}



 <main class="wrapper clearfix">
 		

        <nav>
        	{% with section=section  %}

            <a href="{% url 'main_idea_list' section='onvote' %}" class="{% if section == 'onvote' or alias == '/' %} active {% endif %}">На голосовании</a>

         

            <a href="{% url 'main_idea_list' section='result' %}" class="{% if section == 'result' %} active {% endif %}">Результаты</a>

            {% endwith %}


            <hr>
            <form action="">
                <select name="filter" onchange="if (this.value) window.location.href=this.value">
                   
                    <option {% if sort_way == 'popular' %} selected {% endif %}  
                    		value="{% if cat %}
  										{% url 'main_idea_list' section=section sort_way='popular' cat=cat %}
  									{% else %}
  										{% url 'main_idea_list' section=section sort_way='popular' %}
  									{% endif %}">По Популярности</option>
                    <option {% if sort_way == 'date' %} selected {% endif %}  value="{% if cat %}
  												{% url 'main_idea_list' section=section sort_way='date' cat=cat %}
  											{% else %}
  												{% url 'main_idea_list' section=section sort_way='date' %}
  											{% endif %}">По дате</option>
                </select>


                <select name="categories" onchange="if (this.value) window.location.href=this.value">

                    <option {% if cat == None %} selected {% endif %} value="{% url 'main_idea_list' section=section sort_way=sort_way cat='all_category' %}">Все категории</option>
                    <option {% if cat == 'information_policy' %} selected {% endif %} value="{% url 'main_idea_list' section=section sort_way=sort_way cat='information_policy' %}"> Информационная политика</option>
                    <option {% if cat == 'intermational_connections' %} selected {% endif %} value="{% url 'main_idea_list' section=section sort_way=sort_way cat='intermational_connections' %}"> Международные связи</option>
                    <option {% if cat == 'general' %} selected {% endif %} value="{% url 'main_idea_list' section=section sort_way=sort_way cat='general' %}"> Общие вопросы</option>
                     <option {% if cat == 'science' %} selected {% endif %} value="{% url 'main_idea_list' section=section sort_way=sort_way cat='science' %}"> Наука</option>
                     <option {% if cat == 'education' %} selected {% endif %} value="{% url 'main_idea_list' section=section sort_way=sort_way cat='education' %}"> Учебная работа</option>
                     <option {% if cat == 'economy' %} selected {% endif %} value="{% url 'main_idea_list' section=section sort_way=sort_way cat='economy' %}"> Экономика и стратеническое развитие</option>
                     <option {% if cat == 'it' %} selected {% endif %} value="{% url 'main_idea_list' section=section sort_way=sort_way cat='it' %}"> Информационные технологии</option>

                </select>
            </form>
        </nav>

        {% if count_ideas > 0 %}

        {% for idea in current_page.object_list %}

        <section class="main-section">
            <a href="{% url 'idea_detail' idea_id=idea.id %}" class="initiative-item clearfix">
                <div class="pic-wrapper initiative-item-pic-wrapper pull-left">
                    {% if idea.image %}
                    	<img src="{{ idea.image.url}}">
                    {% endif %}

                </div>
                <div class="initiative-description pull-left">
                    <h3>{{ idea.title }}</h3>
                    <div class="infos pull-left">
                        <span class="info"><strong>категория: </strong>
                        	{% for category in idea.category.all %}
                            		{{category.name}}
                            {% endfor %}</span>
                        <span class="info"><strong>автор: </strong>{{ idea.user.first_name}} {{ idea.user.last_name }} </span>
                        <span class="info"><strong>подана: </strong>{{ idea.vote_date}}</span>
                 
                    </div>
                    <div class="results pull-right">
                    	{% if user.is_authenticated %}
                        <span class="result">За: <span class="numbs">{{ idea.count_vote_y }}/200</span></span>
                        <span class="result">Против: <span class="numbs">{{ idea.count_vote_n }}</span></span>
                        {% endif %}
                    </div>
                </div>
            </a>
            <hr>
          </section>

          {% endfor %}


          {% else %}

          <h3>Инициативы остутствуют</h3>

          {% endif %}
     </main>
	
    	
    <div class="wrapper">
        {% if current_page.paginator.num_pages > 1 %}
            {% bootstrap_paginator current_page.paginator.num_pages current_page.number %}
        {% endif %}
    </div>


{% endblock %}
