{% extends "myidea/base.html" %}
{% block content %}

<main class="wrapper clearfix">
	<h2 class="h3">Авторизация</h2>
	{% if form.errors %}
	<p>Неправильный логин, или пароль.</p>
	{% endif %}
	<form method="POST" class="post-form" action="{% url 'login' %}">
		{% csrf_token %}
		<div class="form-group">
			<label for="title.for_label" class="col-sm-9">Логин</label>
			<div class="">
				{{ form.username }}
			</div>
		</div>

		<div class="form-group">
			<label for="description.for_label" class="col-sm-9">Пароль</label>
			<div class="">
				{{ form.password }}
			</div>
		</div>

		<div class="button-wrapper">
			<button type="submit" class="btn clr-blue">Войти</button>
		</div>
		<input type="hidden" name="next" value="/" />
	</form>
</main>
{% endblock %}
