    
<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    </head>
    <body>

        <p> {{idea.user.first_name}}, к сожалению, ваша <a href="{% url 'idea_detail' idea_id=idea.id %}">инициатива </a> не прошла проверку. Вы можете внести изменения и попробовать разместить инициативу снова. <p/>

        <p>Причина: {{idea.comment}}</p>
        
        <p>УрФУ</p>

    </body>
</html>