    
<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    </head>
    <body>

        <p> Поздравляем,{{idea.user.first_name}} ! Ваша <a href="{% url 'idea_detail' idea_id=idea.id %}">инициатива </a> успешно прошла проверку. Теперь она находится на голосовании. После окончания голосования, вы получите письмо с информацией о результатах.<p/>

        {{idea.title}}
        
        
        <p>УрФУ</p>

    </body>
</html>