    
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p> {{idea.user.first_name}}, спасибо за размещение инциативы. В настоящее время она проходит проверку модераторами сайта на соответствие правилам сервиса. После проверки вам придет письмо с информацией о статусе вашей инициативы.<p/>
        <p>УрФУ</p>

    </body>
</html>