    
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p> {{idea.user.first_name}}, к сожалению, ваша инициатива не набрала нужного количества голосов.<p/>
        <p>УрФУ</p>

    </body>
</html>