    
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p> Поздоавляем, {{idea.user.first_name}}! Голосование завершилось и ваша инициатива набрала необходимое количество голосов. Теперь ее рассмотрят.<p/>
        <p>УрФУ</p>

    </body>
</html>