{% extends "myidea/base.html" %}
{% block content %}
<main class="wrapper clearfix">
	<h2 class="h3">Добавить инициативу</h2>
	<form method="POST" class="post-form" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<label for="title.for_label" class="col-sm-9">Заголовок</label>
			<div class="col-sm-9">
				{{ form.title }}
			</div>
		</div>

		<div class="form-group">
			<label for="description.for_label" class="col-sm-9">Текст инициативы</label>
			<div class="col-sm-9">
				{{ form.description }}
			</div>
		</div>

		<div class="form-group" class="col-sm-9">
			<label for="description.for_image" class="col-sm-9">Выберите изображение</label>
			<div class="col-sm-9">
			{{ form.image }}
				</div>
		</div>
        {{ form.delete_image }}

		<div class="button-wrapper">
			<button type="submit" class="btn clr-blue">Отправить</button>
		</div>
	</form>
</main>

{% endblock %}