
{% extends "myidea/base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% load bootstrap_paginator %}



{% block content %}




 <main class="wrapper clearfix">
        <nav>
            <a href="#" class="active">Мои инициативы</a>
            <hr>
            <form action="">
                <select name="filter" onchange="if (this.value) window.location.href=this.value">
                    <option {% if select_status == 'all_status' %} selected {% endif %} value="{% url 'user_idea_list' select_status='all_status' %}">Все</option>

                    {% for status_key, status_value in status.items %}}
                    <option {% if select_status == status_key %} selected {% endif %}  value="{% url 'user_idea_list' select_status=status_key %}">{{status_value}}</option>
                    {% endfor %}
                </select>
            </form>
        </nav>


 {% if count_ideas > 0 %}

{% for idea in current_page.object_list %}
        

 <section class="main-section">
            <a href="{% if idea.status.name == status.STATUS_APPROVED %}
                        {% url 'idea_detail' idea_id=idea.id %}
                    {% else %}
                        {% url 'user_idea_detail' idea_id=idea.id %}
                    {% endif %}" class="initiative-item clearfix">

                <div class="pic-wrapper initiative-item-pic-wrapper pull-left">
                    {% thumbnail idea.image "120x120" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </div>
                <div class="initiative-description pull-left">
                    <h3>{{ idea.title }}</h3>
                    <div class="infos pull-left">
                        <span class="info"><strong>автор: </strong>{{ idea.user.first_name}} {{ idea.user.last_name }} </span>

                        {% if idea.status.name == status.STATUS_APPROVED %}

                        <span class="info"><strong>категория: </strong>{% for category in idea.category.all %}
                                    {{category.name}}
                            {% endfor %} </span>
                        <span class="info"><strong>подана: </strong>{{ idea.vote_date}}</span>
        

                        {% endif %}

                        {% if idea.status.name == status.STATUS_REVIEW %}

                         <span class="info"><strong>дата подачи: </strong>{{idea.create_date}}</span>

                        {% endif %}
                        <span class="info"><strong>статус: </strong>{{idea.status}}</span>

                    </div>
                    <div class="results pull-right">
                        {% if user.is_authenticated and idea.status.name == status.STATUS_APPROVED %}
                        <span class="result">За: <span class="numbs">{{ idea.count_vote_y }}/200</span></span>
                        <span class="result">Против: <span class="numbs">{{ idea.count_vote_n }}</span></span>
                        {% endif %}
                    </div>
                </div>
            </a>
            <hr>
          </section>

          {% endfor %}

        {% else %}

          <h3>Инициативы остутствуют</h3>

          {% endif %}
          
     </main>


     <div class="wrapper">

        {% if current_page.paginator.num_pages > 1 %}
            {% bootstrap_paginator current_page.paginator.num_pages current_page.number %}
        {% endif %}

    </div>

  
{% endblock %}