{% extends "myidea/base.html" %}
{% load thumbnail %}
{% load staticfiles %}


{% block content %}


<script src=" {% static 'myidea1/js/example.js' %}"> </script>
<main class="wrapper clearfix">
    <h2>{{ idea.title }} </h2>
    <div class="pic-wrapper initiative-item-pic-wrapper-big pull-left">

            {% if idea.image %}   
                <img src="{{ idea.image.url}}">
            {% endif %}
       
    </div>

    <div class="infos-big">
        <p><strong>автор: </strong>{{ idea.user.first_name}} {{ idea.user.last_name }}</p>
    </div>




    <div class="initiative-txt-wrapper">
        <h3 class="initiative-text-heading">Текст инициативы: </h3>
        <p>{{ idea.description }}</p>
    </div>

    {% if idea.status.name == status.STATUS_REJECTED %}

    <div class="initiative-txt-wrapper">
        <h3 class="initiative-text-heading">Причина отклонения инициативы:</h3>
        <p>{{ idea.comment}}</p>
    </div>

            {% endif %}

    {% if idea.status.name == status.STATUS_RESULT %}
    <h3> Результат: </h3>
    <div class="well">
        {{ idea.result }}
    </div>

    {% endif %}

</main>


{% endblock %}



          


