{% extends "myidea/base.html" %}

{% block content %}

        <div class="row" style="margin-bottom: 20px">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{% url 'idea_approved' %}">Одобренные инициативы</a></li>
                <li><a href="{% url 'idea_rejected' %}">Отклоненные инициативы</a></li>
            </ul>
        </div>

            {% block user_ideas %}
            {% endblock %}


{% endblock %}